*
{
	background:#1b3a3f;
	font-family: verdana;
	margin: 3px; /*margen*/
	padding: 3px; /*rellenar*/
}
h1
{
	background-color: #8e72a3;
	text-align:center;
	font-size:50px;
}
h2
{
	font-family:Mithella;
	font-size: 30px;
	text-align:left;
	color:#f64a64;
}
ul
{
	text-align:left;
	color: white;
	list-style-type: square;
}
img
{
	height:100%;
	width:100%;
}
li
{
	font-size:30px;
}
